/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
projekt/bootstrap/cache/packages.php
projekt/bootstrap/cache/services.php
projekt/vendor/autoload.php
projekt/vendor/backpack/crud/.github/stale.yml
projekt/vendor/backpack/generators/.github/workflows/add-to-project.yml
projekt/vendor/backpack/generators/src/Console/stubs/view-plain.stub
projekt/vendor/backpack/generators/tests/BaseTest.php
projekt/vendor/backpack/permissionmanager/.github/pull_request_template.md
projekt/vendor/backpack/theme-tabler/resources/assets/img/spinner.svg
projekt/vendor/backpack/theme-tabler/resources/views/components/menu-separator.blade.php
projekt/vendor/bin/carbon
projekt/vendor/bin/carbon.bat
projekt/vendor/bin/doctrine-dbal
projekt/vendor/bin/doctrine-dbal.bat
projekt/vendor/bin/patch-type-declarations
projekt/vendor/bin/patch-type-declarations.bat
projekt/vendor/bin/php-parse
projekt/vendor/bin/php-parse.bat
projekt/vendor/bin/phpunit
projekt/vendor/bin/phpunit.bat
projekt/vendor/bin/pint
projekt/vendor/bin/pint.bat
projekt/vendor/bin/psysh
projekt/vendor/bin/psysh.bat
projekt/vendor/bin/sail
projekt/vendor/bin/sail.bat
projekt/vendor/bin/var-dump-server
projekt/vendor/bin/var-dump-server.bat
projekt/vendor/bin/yaml-lint
projekt/vendor/bin/yaml-lint.bat
projekt/vendor/composer/autoload_classmap.php
projekt/vendor/composer/autoload_files.php
projekt/vendor/composer/autoload_namespaces.php
projekt/vendor/composer/autoload_psr4.php
projekt/vendor/composer/autoload_real.php
projekt/vendor/composer/autoload_static.php
projekt/vendor/composer/ClassLoader.php
projekt/vendor/composer/installed.json
projekt/vendor/composer/installed.php
projekt/vendor/composer/InstalledVersions.php
projekt/vendor/composer/LICENSE
projekt/vendor/composer/platform_check.php
projekt/vendor/nette/schema/license.md
projekt/vendor/phpunit/php-code-coverage/SECURITY.md
projekt/vendor/phpunit/php-file-iterator/LICENSE
projekt/vendor/phpunit/php-file-iterator/SECURITY.md
projekt/vendor/phpunit/php-invoker/.psalm/config.xml
projekt/vendor/phpunit/php-invoker/SECURITY.md
projekt/vendor/phpunit/php-text-template/SECURITY.md
projekt/vendor/phpunit/php-timer/SECURITY.md
projekt/vendor/phpunit/phpunit/LICENSE
projekt/vendor/sebastian/cli-parser/SECURITY.md
projekt/vendor/sebastian/code-unit/SECURITY.md
projekt/vendor/sebastian/exporter/LICENSE
projekt/vendor/sebastian/global-state/SECURITY.md
projekt/vendor/sebastian/lines-of-code/LICENSE
projekt/vendor/spatie/ignition/LICENSE.md
projekt/vendor/symfony/deprecation-contracts/LICENSE
projekt/vendor/symfony/error-handler/LICENSE
projekt/vendor/symfony/event-dispatcher/LICENSE
projekt/vendor/symfony/polyfill-intl-normalizer/LICENSE
projekt/vendor/symfony/routing/LICENSE
projekt/vendor/symfony/yaml/LICENSE
