body {
    background-color: #ADADAD;
}

.events-container {
    margin-top: 60px;
    padding: 20px;
}

h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px grey;
    text-align: left;
    padding-top:45px;
    border-bottom: 2px solid grey;
    box-shadow: 0 3px 0px rgba(255, 255, 255, 0.2);;
}

.search-input {
    width: 71em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    margin-left: 3em;
}
.wall{
    margin-left: 3em;
margin-bottom: 1em;
margin-top: 1em;
}
#header{
    color: white;
    padding-left: 2em;
}
.item-container{
    float: left;
   padding-top: 80px;
   /*text-align: center;*/
   padding-left: 20px;
}

.name{
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 0px 0px 2px grey;
    border-bottom: 2px solid grey;
}
b{
    font-size: 120%;
}
.event-v2{
    margin-bottom: 20px;
    padding: 1.5em;
    padding-left: 2.5em;
    background-color: #f9f9f9;
    border-radius: 8px;
    line-height: 2.2;
    margin-right: 3em;
    margin-left: 3em;
    width: 40em;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}
.event-v2:hover {
    transform: scale(1.02);
}
.content-container{
    background-color: #2f2d2e;
    float: left;
    width: 22em;
    padding: 2em;
    min-height: 300vh; /*tuki spremen velikost divou za leuga*/
    box-sizing: border-box;
}

@media screen and (max-width: 1450px) {
.content-container{
    display: none;
}
.content-container2{
    display: none;
}
}



.content-container2{
    background-color: #2f2d2e;
    float: right;
    width: 22em;
    padding: 2em;
    min-height: 300vh;/*tuki spremen velikost divou za desnga*/
    box-sizing: border-box;
}

.search-button {
    height: 40px;
    width: 104px;
    border-radius: 10px;
    background-color: #ffb647;
}

.event {
    margin-bottom: 20px;
    padding: 1.5em;
    padding-left: 2.5em;
    background-color: #f9f9f9;
    border-radius: 8px;
    line-height: 2.5;
    margin-right: 3em;
    margin-left: 3em;
}

.event a {
    text-decoration: none;
    color: blue;
}

.more {
    text-align: center;
    padding: 20px;
    background-color: #FFB647;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 140px;
}

.about-us {
    text-align: center;
    padding: 20px;
    background-color: #FFB647;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 20px;
}

.link {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 16px;
    color: black;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border-radius: 5px;
}


@media only screen and (max-width: 768px) {
    .search-input {
      width: 100%;
      margin: 0; 
      margin-bottom: 1em;
    }
    
    .search-button {
      width: 100%; 
      margin: 0; 
    }
    .events-container {
      padding: 10px; 
    }
  
    .event,
    .event-v2 {
      margin: 20px 5px;
      width: auto; 
    }
  
    .content-container {
      float: none; 
      padding: 30px; 
      width: 100%;
      margin-top: 1em;
      height: 5em; 
      min-height: auto;
      padding: 10px; 
    
    }
    .wall{
        margin-left: 1em;
    }
  
    .item-container {
      float: none; 
      margin-top: 20px;
    }
  }
  